<footer class="footer" id="footer">
    <div class="footer-brand">
        <h1>Cliffhanger</h1>
    </div>
    <ul class="footer-links">
        <a class="footer-link" href="#">About</a>
        <a class="footer-link" href="/">Home</a>
        <a class="footer-link" href="userArticle">Write for us</a>
    </ul>
    <h3 class="footer-contact">Contact me: <span> conquerorraj2626@gmail.com </span></h3>
    <h4 class="footer-copyright">copyright &copy; 2021 <a>www.cliffhanger.com</a></h4>
</footer>
</body>

<script src="./js/index.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="./js/imageUpload.js"></script>

</html>