<%- include('partials/header') %>

<section class="userArticle-heading">
  <div class="heading-container">
    <h1 class="heading-featured">Featured</h1>
    <h1 class="heading-big">Write article</h1>
    <p class="heading-sub">
      write the details below and click publish once done, but please check
      content once again
    </p>
  </div>
</section>

<section class="form-control">
  <form
    class="form-container"
    action="/compose-new-article"
    method="post"
    enctype="multipart/form-data"
  >
    <h1 class="form-heading">Publish article by Submitting the form below</h1>
    <div class="form-UserName">
      <div class="form-group">
        <label for="fname" class="form-label">First Name</label>
        <input
          type="text"
          class="form-input"
          placeholder="Your First Name"
          name="fname"
          id="fname"
          required
        />
      </div>
      <div class="form-group pad-left">
        <label for="lname" class="form-label">Last Name</label>
        <input
          type="text"
          class="form-input"
          placeholder="Your Last Name"
          name="lname"
          id="lname"
        />
      </div>
    </div>
    <div class="form-group form-headline">
      <label for="heading" class="form-label">Title</label>
      <input
        type="text"
        class="form-input"
        placeholder="Give a Cachy Title"
        name="heading"
        id="heading"
        maxlength="80"
        required
      />
    </div>
    <div class="form-group form-headline">
      <label for="subheading" class="form-label">Description</label>
      <input
        type="text"
        class="form-input"
        placeholder="Describe a little about your content (max-100 character)"
        name="subheading"
        id="subheading"
        maxlength="100"
        required
      />
    </div>
    <div class="upload__box form-group">
      <div class="upload__btn-box">
        <label class="upload__btn" for="image">
          <p>Upload header image</p>
          <input
            type="file"
            data-max_length="1"
            class="upload__inputfile"
            name="image"
            id="image"
            value=""
            
          />
        </label>
      </div>
      <div class="upload__img-wrap"></div>
    </div>

    <div class="form-group form-select-tag">
      <label for="select-tag">Choose a Type:</label>
      <select class="select-item" name="category" id="select-tag">
        <option value="main">Main article</option>
        <option value="feature">Featured article</option>
      </select>
    </div>

    <div class="form-group form-marked">
      <h1>Write your Article</h1>
      <textarea
        class="form-marked-text"
        name="markdown"
        id="markdown"
        cols="30"
        rows="10"
        required
      >
  One more thing please copy the text you type below and paste it to the marked demo
 Delete the following before submitting -( use # followed by space then title to get h1 * more the hashes you get h1 to h6. for links use ['text to be displayed'](link) including pics use {'!'} before the []. for indent use > , for list item use -  )</textarea
      >
    </div>
    <div class="form-submit-container">
      <button class="form-submit" type="submit">Publish</button>
    </div>
  </form>
</section>

<%- include('partials/footer') %>




