<%- include('partials/header') %>

<section class="success">
  <h1 class="success-h1">Form submitted Successfully</h1>
  <h2 class="success-h2">
    Once the review is done it will be posted on your behalf
  </h2>
  <div class="success-action">
    <a class="success-links" href="/">Take me to Home Page</a>
    <a class="success-links" href="userArticle"
      >Submit Another Article?</a
    >
  </div>
</section>

<%- include('partials/footer') %>