<%- include('partials/header') %>

<section class="userArticle-heading">
  <div class="heading-container">
    <h1 class="heading-featured">Featured</h1>
    <h1 class="heading-big">Wanna write article</h1>
    <p class="heading-sub">
      we are here for you,send your article once accepted it will be published
      online with your name
    </p>
  </div>
</section>

<form
  class="form-container"
  action="/userArticle"
  method="POST"
  id="email_form"
  enctype="multipart/form-data"
>
  <div class="form-UserName">
    <div class="form-group">
      <label for="fname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-input"
        placeholder="Your First Name"
        name="fname"
        id="fname"
      />
    </div>
    <div class="form-group pad-left">
      <label for="lname" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-input"
        placeholder="Your Last Name"
        name="lname"
        id="lname"
      />
    </div>
  </div>
  <div class="form-group form-email">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-input"
      placeholder="Your Email"
      name="email"
      id="email"
    />
  </div>
  <div class="form-group form-topic">
    <label for="topic" class="form-label">Topic</label>
    <input
      type="text"
      class="form-input"
      placeholder="Enter Topic/Catagory"
      name="topic"
      id="topic"
    />
  </div>
  <div class="form-group form-headline">
    <label for="headline" class="form-label">Headline</label>
    <input
      type="text"
      class="form-input"
      placeholder="Give a Cachy Headline"
      name="headline"
      id="heading"
    />
  </div>

  <div class="upload__box form-group">
    <div class="upload__btn-box">
      <label class="upload__btn">
        <p>Upload images</p>
        <input
          type="file"
          multiple
          name="image"
          data-max_length="10"
          class="upload__inputfile"
      /></label>
    </div>
    <div class="upload__img-wrap"></div>
  </div>

  <div class="form-group form-marked">
    <h1>Write your Article</h1>
    <textarea
      class="form-marked-text"
      name="markdown"
      id="mark-down"
      cols="30"
      rows="10"
      placeholder="Use '#' before the start of heading ,   Use '[]'' to mention images/urls  "
    ></textarea>
  </div>

  <div class="form-submit-container">
    <button class="form-submit" id="js_send" type="submit">Send!</button>
  </div>
</form>

<%- include('partials/footer') %>